fastapi
uvicorn
python-dotenv
pydantic-settings
pinecone
pymupdf
langchain
langchain-openai
langchain-community
firecrawl-py
psycopg2-binary
langchain-core
langgraph
langgraph-checkpoint-postgres
psycopg-binary
psycopg_pool
asyncpg
python-multipart
